<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS Resources</title>
    <link rel="stylesheet" href="../css/aws.css">
    <link rel="stylesheet" href="../css/alignment.css">
</head>

<body>

    <section class="resources align align-ver">

        <div class="imgs align">

            <div>
                <img src="https://1-todo-list.s3.ap-south-1.amazonaws.com/airports.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAWMEM377EQWGKTCNZ%2F20221006%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20221006T074118Z&X-Amz-Expires=120&X-Amz-Signature=c1b9b04362833300c21ba013df7e8ab7f3c227319887bdc4023faf783ef013c3&X-Amz-SignedHeaders=host">
            </div>

            <div>
                <img src="https://1-todo-list.s3.ap-south-1.amazonaws.com/education-home.png">
            </div>

            <div>
                <img src="https://1-todo-list.s3.ap-south-1.amazonaws.com/education-home-2.png">
            </div>

            <div>
                <img src="https://1-todo-list.s3.ap-south-1.amazonaws.com/butter.jpg">
            </div>

        </div>

    </section>

</body>

</html>