<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Socket</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/chat.css">
</head>

<body>

    <section class="align" id="home">
        <h1>WEB CHAT</h1>
    </section>


    <section class="align align-ver" id="content">

        <div class="align-def container header">

        </div>

        <div class="container align footer">
            <input type="text" placeholder="Message" id="message" name="message">
            <input type="submit" value="Send">
        </div>

    </section>

    <section class="align" id="footer">
        <p class="paras">Copyright &copy; 2022 | All rights reserved | Made by Gaurav Sahitya </p>
    </section>

</body>

</html>