<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/leave.css">
</head>

<body>

    <table>
        <tr>
            <th>
                <h1>LEAVE REQUEST</h1>
            </th>
        </tr>

        <tr>
            <td>
                <p>Gaurav sahitya has requested the leave from 09/11/2022 to 11/11/2022.</p>
            </td>
        </tr>

        <tr>
            <td>
                <p><b>Reason : </b> I have some important task to do.</p>
            </td>
        </tr>

        <tr class="btns">
            <td class="align">
                <a href="http://localhost:8000/leave/approve">Approve</a>
                <a href="http://localhost:8000/leave/approve">Reject</a>
            </td>
        </tr>
    </table>

</body>

</html>