<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" href="../css/message.css">
</head>

<body>

    <div class="wrap">

        <div class="header d-table">
            <div class="row">
                <div class="col">
                    <h1 class="h-primary">CHAT NOTIFICATION</h1>
                </div>
            </div>
        </div>

        <div class="msg-body d-table">
            <div class="row">
                <div class="col">
                    <p class="body-para">Hi Gaurav,</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="body-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut iusto quasi, iste
                        alias repudiandae qui autem dignissimos, delectus quos repellat iure? Sunt expedita maxime, eius
                        eos
                        nesciunt aliquid suscipit at rerum sed incidunt adipisci tenetur error cupiditate iusto a
                        inventore
                        explicabo repudiandae magnam, earum fugiat. Sed quo excepturi eligendi voluptatum!</p>
                </div>
            </div>
        </div>

        <div class="signature d-table">
            <div class="row">
                <div class="col">
                    <p class="body-para">With Regards</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="body-para">SW-Ticketing-Tool</p>
                </div>
            </div>
        </div>

        <div class="d-table footer">
            <div class="row">
                <div class="col">
                    <img src="https://ticketing.sketchwire.com/public/images/facebook.png" alt="facebook">
                </div>

                <div class="col">
                    <img src="https://ticketing.sketchwire.com/public/images/instagram.png" alt="instagram">
                </div>

                <div class="col">
                    <img src="https://ticketing.sketchwire.com/public/images/twitter.png" alt="twitter">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="footer-para">Copyright &copy;2022</p>
                </div>
                <div class="col">
                    <p class="footer-para">All Rights Reserved</p>
                </div>
                <div class="col">
                    <p class="footer-para">SW-Ticketing-Tool</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>