<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/otp.css">
</head>

<body>

    <div class="header">

        <div class="row">
            <div class="col align-ver align-center">
                <h1 class="font heading-font">ACCOUNT VERIFICATION</h1>
            </div>
        </div>
    
        <div class="row">
            <div class="col align-ver align-center">
                <hr>
            </div>
        </div>

    </div>

    <div class="msg-body">

        <div class="row">
            <div class="col align-ver align-start def-pad">
                <p class="font">Hi <b>Gaurav</b></p>
            </div>
        </div>
    
        <div class="row">
            <div class="col align-ver align-justify def-pad">
                <p class="font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, tempora placeat nihil harum blanditiis consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quo magni dolores enim est nisi in a praesentium earum fuga iure, nulla laborum dignissimos cum.</p>
            </div>
        </div>
    
    </div>

    <div class="notify">
        
        <div class="row">
        
            <div class="col align-ver align-center def-pad">
                <p class="font">OTP</p>
            </div>
        
            <div class="col align-ver align-center def-pad">
                <p class="font bold-font">98989</p>
            </div>

        </div>

    </div>

    <div class="signature">
        
        <div class="row">
            <div class="col align-ver align-justify def-pad">
                <p class="font sm-font notify-font bold-font">Note : This OTP is valid only for 10 minutes, post after that it will not be valid.</p>
            </div>
        </div>

        <div class="row">
            <div class="col align-ver align-start def-pad">
                <p class="font bold-font">With regards</p>
            </div>
        </div>

        <div class="row">
            <div class="col align-ver align-start def-pad">
                <p class="font bold-font">SketchWire</p>
            </div>
        </div>

    </div>

    <div class="footer">
        
        <div class="row">
            
            <div class="col align-ver align-center">
                <img src="https://expense-management.foobar.in/public/images/facebook.png" alt="facebook">
            </div>

            <div class="col align-ver align-center">
                <img src="https://expense-management.foobar.in/public/images/instagram.png" alt="instagram">
            </div>
            
            <div class="col align-ver align-center">
                <img src="https://expense-management.foobar.in/public/images/twitter.png" alt="twitter">
            </div>

        </div>


        <div class="row custom">

            <div class="col align-ver align-center">
                <p class="font sm-font">Copyright &copy; 2022</p>
            </div>
        
            <div class="col align-ver align-center">
                <p class="font sm-font">All rights are reserved</p>
            </div>
        
            <div class="col align-ver align-center">
                <p class="font sm-font">SketchWire</p>
            </div>
        
        </div>
    
    </div>

</body>

</html>