<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LibPhoneNumber Js Example</title>
    <link rel="stylesheet" href="../css/phone.css">
    <link rel="stylesheet" href="../css/alignment.css">
</head>

<body>

    <section id="home" class="align align-ver">

        <div class="align header">
            <h1>Phone Number Formatter</h1>
        </div>

        <div class="body align align-ver">

            <form action="" class="align align-ver">

                <input type="text" placeholder="Enter your phone number" id="phone" name="phone" required>
                <div id="msgBox" class="align">
                    Your entered phone number is
                </div>

            </form>

        </div>

        <div class="footer align">
            <p>Copyright &copy; 2022 | All rights reserved</p>
        </div>

    </section>


    <script src="../js/phone.js"></script>
</body>

</html>