<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Status</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/status.css">
</head>

<body>

    <section class="align align-ver">

        <div class="align-def align-ver content">

            <div class="container align">
                <h1>{{txnStatus}}</h1>
            </div>

            <div class="container align">
                <p class="paras">Order ID : {{orderId}}</p>
            </div>

            <div class="container align">
                <p class="paras">TRANSACTION ID : {{transactionId}}</p>
            </div>

            <div class="container align">
                <p class="paras">PAYMENT MODE : {{paymentMode}}</p>
            </div>

            <div class="container align">
                <P class="paras">TRANSACTION DATE : {{txnDate}}</P>
            </div>

            <div class="container align">
                <p class="paras">BANK NAME : {{bankName}}</p>
            </div>

            <div class="container align">
                <p class="paras sp-para">TRANSACTION AMOUNT : {{txnAmount}}</p>
            </div>

        </div>

    </section>

</body>

</html>