<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Shop</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/template_10.css">
</head>

<body>


    <div class="navbar align">

        <div class="nav-content align">
            <img src="../images/food-logo.png" alt="Logo" class="logo">
        </div>

        <div class="nav-content main align">

            <ul class="align">

                <li class="align"><a href="#">Home</a></li>
                <li class="align"><a href="#">Shop</a></li>
                <li class="align"><a href="#">Decor</a></li>
                <li class="align"><a href="#">Plant</a></li>
                <li class="align"><a href="#">Light</a></li>
                <li class="align"><a href="#">Chair</a></li>

            </ul>

        </div>

        <div class="nav-content align">

            <img src="../images/facebook.png" alt="Facebook" class="nav-icns">
            <img src="../images/twitter.png" alt="Twitter" class="nav-icns">
            <img src="../images/instagram.png" alt="Instagram" class="nav-icns">
            <img src="../images/search_ico.png" alt="Search" class="nav-icns">

        </div>

    </div>


    <section class="align" id="home">

        <div class="root align align-ver main">

            <div class="content">

                <div class="badge">
                    <p>New collection</p>
                </div>

            </div>

            <div class="content align align-ver bg-content">

                <div>
                    <h1 class="h-primary">Fill your home with uniqueness</h1>
                </div>

                <div>
                    <p>Huge variety with modern glamour</p>
                </div>

            </div>

        </div>

        <div class="root">

            <img src="../images/furniture.jpg" alt="Furniture" class="images">

        </div>

    </section>


    <section class="align" id="products">

        <div class="container align align-ver" id="product1">

            <div>

                <div class="badge align align-ver">
                    <p>New collection</p>
                </div>

            </div>

            <div>
                <h1 class="h-primary">Lights and Decor</h1>
            </div>

            <div>
                <p>Show More &raquo;</p>
            </div>

        </div>

        <div class="container align align-ver" id="product2">

            <div>

                <div class="badge align align-ver">
                    <p>New collection</p>
                </div>

            </div>

            <div>
                <h1 class="h-primary">Kitchen Cutlery</h1>
            </div>

            <div>
                <p>Show More &raquo;</p>
            </div>

        </div>

        <div class="container align align-ver" id="product3">

            <div>

                <div class="badge align align-ver">
                    <p>New collection</p>
                </div>

            </div>

            <div>
                <h1 class="h-primary">Living Room</h1>
            </div>

            <div>
                <p>Show More &raquo;</p>
            </div>

        </div>

    </section>


    <section class="align" id="brands">

        <div class="align">
            <img src="../images/mklit_capital.png" alt="Brand">
        </div>

        <div class="align">
            <img src="../images/can_studio.png" alt="Brand">
        </div>

        <div class="align">
            <img src="../images/musclebase.png" alt="Brand">
        </div>

        <div class="align">
            <img src="../images/sbeauty.png" alt="Brand">
        </div>

        <div class="align">
            <img src="../images/Partners3-copy.png" alt="Brand">
        </div>

        <div class="align">
            <img src="../images/balloon.png" alt="Brand">
        </div>

    </section>


    <section class="align" id="offers">

        <div class="container align align-ver">
            <img src="../images/flower_pot.png" alt="Flower Pot" class="images">
        </div>

        <div class="container align align-ver">

            <div>
                <p>Our special offer</p>
            </div>

            <div>
                <h1 class="h-primary">Featured products with amazing color variety for your home
                </h1>
            </div>

            <div>
                <button id="#" type="button">Purchase</button>
            </div>

        </div>

    </section>


    <section class="align" id="services">

        <div class="container align align-ver">

            <div class="align">
                <img src="../images/clock.png" alt="clock">
            </div>

            <div class="align">
                <h3>24 h Shipping</h3>
            </div>

            <div class="align">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque ea maxime enim dignissimos veniam architecto.</p>
            </div>

        </div>

        <div class="container align align-ver">

            <div class="align">
                <img src="../images/shipping.png" alt="clock">
            </div>

            <div class="align">
                <h3>Free Returns</h3>
            </div>

            <div class="align">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque ea maxime enim dignissimos veniam architecto.</p>
            </div>

        </div>

        <div class="container align align-ver">

            <div class="align">
                <img src="../images/wallet.png" alt="clock">
            </div>

            <div class="align">
                <h3>100% Money Back Guarantee</h3>
            </div>

            <div class="align">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque ea maxime enim dignissimos veniam architecto.</p>
            </div>

        </div>

    </section>


    <section class="align align-ver" id="inspiration">

        <div class="align">
            <h1>Ideas for inspiration</h1>
        </div>

        <div class=" main align">

            <img src="../images/sofa1.jpg" alt="sofa">

        </div>

    </section>


    <section class="align align-ver" id="deals">

        <div class="align">
            <h1>Great deals for great prices</h1>
        </div>

        <div class="align main">

            <div class="container align align-ver" id="product1">

                <div class="align align-ver">
                    <h2>Table Succulent Plant</h2>
                    <h4>$4</h4>
                </div>

            </div>

            <div class="container align align-ver" id="product2">

                <div class="align align-ver">
                    <h2>Minimalastic Chair</h2>
                    <h4>$5</h4>
                </div>

            </div>

            <div class="container align align-ver" id="product3">

                <div class="align align-ver">
                    <h2>Wooden picture frame</h2>
                    <h4>$5</h4>
                </div>

            </div>

            <div class="container align align-ver" id="product4">

                <div class="align align-ver">
                    <h2>Metallic Table Lamp</h2>
                    <h4>$5</h4>
                </div>

            </div>

        </div>

    </section>


    <section class="align align-ver" id="newsletter">

        <div class="align">
            <h1>Join the newsletter</h1>
        </div>

        <div class="align align-ver">

            <div class="align">
                <input type="text" placeholder="Enter your email address here">
                <button type="button">Subscribe</button>
            </div>

            <div class="align">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, itaque.</p>
            </div>

        </div>

        <div class="align"></div>

    </section>


    <footer class="align align-ver">
        <p>Copyright &copy; 2020</p>
        <p>Design and maintained by Gaurav Sahitya</p>
    </footer>

</body>

</html>