<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/tempered.css">

</head>

<body>

    <section class="align" id="home">

        <div class="align align-ver" id="brand">
            <img src="../images/404.png" alt="404">
        </div>

        <div class="align align-ver">
            <h1>Data Mismatched</h1>
            <p class="paras">Data sent by the payment gateway is found to be corrupted. So, we could not process your payment as of now. If the amount has been deducted from your account then it will be refunded back to your account within 3 to 5 buisness days.</p>

            <div class="btn-grp">
                <button type="button" id="button1">Go back to home</button>
            </div>

        </div>

    </section>

    <footer class="align">
        <p class="paras ft-para">Copyright &copy; 2022 | All rights reserved | Made by Gaurav Sahitya</p>
    </footer>

</body>

</html>