<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web template</title>


    <link rel="stylesheet" href="../css/template_2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/dcf9f5d1bd.js"></script>

</head>
<body>
    
    <div class="navbar align">

        <div class="brand align transparency">

            <h1 class="h-primary">GAURAV SAHITYA</h1>

        </div>

        <div class="nav-content align transparency">

            <ul class="align">
                <li class="align"><a href="#" class="link">Home</a></li>
                <li class="align"><a href="#" class="link">About</a></li>
                <li class="align"><a href="#" class="link">Quote</a></li>
                <li class="align"><a href="#" class="link">Instagram</a></li>
                <li class="align"><a href="#" class="link">Contact</a></li>
            </ul>

        </div>

    </div>

    <section class="align" id="home">

        <div class="content align align-ver"></div>

        <div class="content align align-ver drop-blur">

            <h1 class="h-primary">GAURAV SAHITYA</h1>
            <p class="paras">BLOG SITE</p>

        </div>

    </section>


    <section class="align" id="blogs">

        <div class="align content align-ver"></div>


        <div class="align content big-container align-ver">

            <div class="align blog-header">

                <div class="align blog-heading">

                    <h3 class="h-tertiary">All Posts</h3>

                </div>

                <div class="align blog-search-bar">

                    <div class="align blog-btn-grps">

                        <button class="btn sm-btn transparency" id="button1" type="button"> <img src="../images/search.png" class="imgs"></button>
                        <button class="btn transparency" id="button1" type="button"> Login / Sign up</button>

                    </div>

                </div>

            </div>


            <div class="align blog-content">

                <div class="align container img-con">

                </div>

                <div class="align container align-ver">

                    <h3 class="h-tertiary">Reading Challenge : 7 books in 7 days</h3>

                    <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, at!</p>

                </div>

            </div>

        </div>
        
        
        <div class="align content align-ver"></div>

    </section>


    <section class="align align-ver" id="contact">

        <h1 class="h-primary">Subscribe Form</h1>
        <p class="paras">Stay up to date</p>


        <input type="email" class="inps transparency" id="textBox1" placeholder="Email Address" title="Please fill out this field">
        <button class="btn sp-btn" id="button3" type="button">Submit</button>

        <div class="blank-con align"></div>

        <div class="align container">

            <div class="align align-ver con-container">

                <h1 class="h-primary">Contact</h1>
                <p class="paras">500 Terry Francois Street San Francisco, CA 94158</p>
                <p class="paras">yojer44942@godpeed.com</p>
                <p class="paras">123-456-789</p>

            </div>


            <div class="align align-ver con-container">
                <input type="email" class="inps transparency" id="textBox1" placeholder="Name" title="Please fill out this field">
                <input type="email" class="inps transparency" id="textBox2" placeholder="Email Address" title="Please fill out this field">
                <input type="email" class="inps transparency" id="textBox3" placeholder="Phone" title="Please fill out this field">
                <input type="email" class="inps transparency" id="textBox4" placeholder="Address" title="Please fill out this field">
                <textarea id="textBox5" cols="30" rows="100" title="Please fill out this field" class="inps rich-inp" placeholder="Message"></textarea>   
                <button class="btn sp-btn" id="button4" type="button">Submit</button>      
            </div>

        </div>

    </section>


    <section class="align" id="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27398.77922716925!2d75.85976969098394!3d30.862947060674845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a82ed2c152203%3A0xb1e3f7ae578798cd!2sShimlapuri%2C%20Ludhiana%2C%20Punjab!5e0!3m2!1sen!2sin!4v1627475902877!5m2!1sen!2sin" width="1500" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>

</body>
</html>