<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup</title>

    <link rel="stylesheet" href="../css/template_6.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/dcf9f5d1bd.js"></script>

</head>
<body>
    
    <div class="navbar align">

        <div class="brand align">
            <img src="../images/food_contact.png" alt="" title="Home page">
        </div>

        <div class="brand align nav-content">

            <ul class="align">
                <li class="align"><a href="#" class="link">Home</a></li>
                <li class="align"><a href="#" class="link">Services</a></li>
                <li class="align"><a href="#" class="link">Pricing</a></li>
                <li class="align"><a href="#" class="link">News</a></li>
                <li class="align"><a href="#" class="link"><img src="../images/facebook.png" alt="" class="nav-icns"></a></li>
                <li class="align"><a href="#" class="link"><img src="../images/instagram.png" alt="" class="nav-icns"></a></li>
                <li class="align"><a href="#" class="link"><img src="../images/twitter.png" alt="" class="nav-icns"></a></li>
                <li class="align"><a href="#" class="link"><img src="../images/search.png" alt="" class="nav-icns"></a></li>
            </ul>

        </div>

    </div>

    <section id="home" class="align align-ver">

        <div class="container align">

            <div class="cont-content align align-ver">

                <h1 class="h-primary">Organize your ideas and future plans with our smart business planner</h1>
                <p class="paras">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis error illum eligendi corporis tenetur magni aut consectetur laudantium. Esse impedit magni officiis aspernatur adipisci voluptatem accusamus consequatur alias nihil?</p>
                <button class="btn" id="button1" type="button">Explore more</button>

            </div>

            <div class="cont-content align align-ver">
                <img src="../images/workspace.png" alt="" srcset="" class="imgs">
            </div>

        </div>

    </section>


    <section class="align alin-ver" id="services">

        <div class="container align">

            <div class="content align align-ver">

                <img src="../images/synchronize.png" alt="" class="icns">
                <h3 class="h-tertiary">Syncronize emails</h3>
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, delectus.</p>

            </div>

            <div class="content align align-ver">

                <img src="../images/bills.png" alt="" class="icns">
                <h3 class="h-tertiary">Automate bill payments</h3>
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, delectus.</p>

            </div>

            <div class="content align align-ver">

                <img src="../images/password.png" alt="" class="icns">
                <h3 class="h-tertiary">Password storage</h3>
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, delectus.</p>

            </div>

            <div class="content align align-ver">
                <img src="../images/ai.png" alt="" class="icns">
                <h3 class="h-tertiary">AI Assistant</h3>
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, delectus.</p>
            </div>

        </div>

    </section>


    <section class="align align-ver" id="details">

        <div class="container align">

            <div class="cont-content align align-ver">
                <img src="../images/smart_assistant.png" alt="" srcset="">
            </div>

            <div class="cont-content align align-ver">
                <h1 class="h-primary">Let our unique AI Assistant plan months ahead</h1>
                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam architecto ipsam, id fuga tempore quo corporis quisquam aliquam quod magnam.</p>
            </div>

        </div>

        <div class="container align">

            <div class="cont-content align align-ver">
                <h1 class="h-primary">Synchronize your social life, emails and contacts</h1>
                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam architecto ipsam, id fuga tempore quo corporis quisquam aliquam quod magnam.</p>
            </div>

            <div class="cont-content align align-ver">
                <img src="../images/synch_life.png" alt="" srcset="">
            </div>

        </div>

    </section>

    <section class="align align-ver" id="pricing">

        <h1 class="h-primary">Select your plan</h1>

        <div class="container align">

            <div class="cont-content align align-ver">

                <h3 class="h-tertiary">Basic</h3>
                <h1 class="h-primary">$19</h1>
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil maxime fugit, et ipsa atque nostrum maiores architecto ex aliquam ab!</p>
                <button class="btn" id="button2" type="button">Choose pricing</button>

            </div>

            <div class="cont-content align align-ver active">

                <h3 class="h-tertiary">Pro</h3>
                <h1 class="h-primary">$29</h1>
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil maxime fugit, et ipsa atque nostrum maiores architecto ex aliquam ab!</p>
                <button class="btn" id="button3" type="button">Choose pricing</button>
            
            </div>

            <div class="cont-content align align-ver">

                <h3 class="h-tertiary">Custom</h3>
                <h1 class="h-primary">Free</h1>
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil maxime fugit, et ipsa atque nostrum maiores architecto ex aliquam ab!</p>
                <button class="btn" id="button4" type="button">Contact us</button>

            </div>

        </div>

    </section>


    <section class="align align-ver" id="subscribe">

        <h1 class="h-primary">Subscribe to be up to date with our news and stories</h1>

        <div class="subscription align">

            <input type="text" class="inps" id="textBox1" placeholder="Please enter your email here">
            <button class="btn" id="button5" type="button">Subscribe</button>
        </div>

        <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, deleniti.</p>

    </section>

    <section id="news" class="align align-ver">

        <div class="container align">

            <div class="cont-content align align-ver">

                <div class="hyper-content align" id="news1">

                    <a href="https://www.google.com" target=".blank"><img src="../images/attachment.png" alt="" srcset="" class="imgs">
                    </a>

                </div>

                <div class="text-content align align-ver">

                    <h3 class="h-tertiary">Newest technology</h3>
                    <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas perferendis, accusamus veritatis enim voluptatum! Earum voluptatem repellat recusandae dolorum atque quos optio unde magni!</p>

                </div>

                <div class="cont-footer align">
                    <a href="#" class="link left">Read more</a>
                    <a href="" class="link">&gt;</a>
                </div>

            </div>

            <div class="cont-content align align-ver">

                <div class="hyper-content align" id="news2">

                    <a href="https://www.google.com" target=".blank"><img src="../images/attachment.png" alt="" srcset="" class="imgs">
                    </a>

                </div>

                <div class="text-content align align-ver">

                    <h3 class="h-tertiary">New age technology</h3>
                    <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas perferendis, accusamus veritatis enim voluptatum! Earum voluptatem repellat recusandae dolorum atque quos optio unde magni!</p>

                </div>

                <div class="cont-footer align">
                    <a href="#" class="link left">Read more</a>
                    <a href="" class="link">&gt;</a>
                </div>

            </div>
            
            <div class="cont-content align align-ver">

                <div class="hyper-content align" id="news3">

                    <a href="https://www.google.com" target=".blank"><img src="../images/attachment.png" alt="" srcset="" class="imgs">
                    </a>

                </div>

                <div class="text-content align align-ver">

                    <h3 class="h-tertiary">New office space</h3>
                    <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas perferendis, accusamus veritatis enim voluptatum! Earum voluptatem repellat recusandae dolorum atque quos optio unde magni!</p>

                </div>

                <div class="cont-footer align">
                    <a href="#" class="link left">Read more</a>
                    <a href="" class="link">&gt;</a>
                </div>

            </div>

        </div>

    </section>

</body>
</html>