<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>

    <link rel="stylesheet" href="../css/template_5.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/dcf9f5d1bd.js"></script>

</head>
<body>
    
    <div class="navbar align">

        <div class="align brand">

            <img src="../images/freshio-logo.svg" alt="" srcset="" class="logo">

        </div>

        <div class="align nav-content">

            <ul class="align">

                <li class="dropdown"><a href="#" class="link">Home</a>
                
                    <div class="align align-ver menu">
                        <a href="#" class="link">Megashop</a>
                        <a href="#" class="link">Boxed Layout</a>
                    </div>
                
                </li>


                <li class="dropdown"><a href="#" class="link">Shop</a>
                    
                    <div class="align align-ver menu">
                        <a href="#" class="link">Megashop</a>
                        <a href="#" class="link">Boxed Layout</a>
                    </div>
                
                </li>
                
                <li class="dropdown"><a href="#" class="link">Page</a>
                
                    <div class="align align-ver menu">
                        <a href="#" class="link">About Us</a>
                        <a href="#" class="link">Facts</a>
                        <a href="#" class="link">Icons</a>
                    </div>

                </li>

                <li><a href="#" class="link">Blog</a></li>
                <li><a href="#" class="link">Contact</a></li>

            </ul>

        </div>

        <div class="align nav-links">

            <img src="../images/search_ico.png" alt="" srcset="" class="ico-link">
            <img src="../images/user.png" alt="" srcset="" class="ico-link">
            <img src="../images/like.png" alt="" srcset="" class="ico-link">
            <img src="../images/cart.png" alt="" srcset="" class="ico-link">


            <p class="paras price-tag">$ 0.00</p>

        </div>

    </div>

    <section class="align" id="home">

        <div class="container align align-ver">

            <h2 class="h-secondary">Our Products</h2>
            <h1 class="h-primary">Healthy kitchen with freshio</h1>

            <button class="btn" id="button1" type="button">Shop Now &raquo;</button>

        </div>

        <div class="align align-ver sm-container">

            <div class="sub-container align align-ver">

                <h4 class="h-tetra">Keto Diet at Lowest Price</h1>

                <a href="#">Shop Now &raquo;</a>

            </div>

            <div class="align align-ver an-container">

                <h4 class="h-tetra">For juice lovers everywhere</h1>

                    <a href="#">Shop Now &raquo;</a>

            </div>

        </div>

        <div class=" align align-ver sm-container pane">
            
            <h2 class="h-secondary">Farm Market</h2>
            <h3 class="h-tertiary">Just Eat Better</h3>

            <div class="link-container">
                <a href="#">Shop Now &raquo;</a>
            </div>

        </div>

    </section>

</body>
</html>