<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barber Shop</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/template_12.css">
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>
    
    <section class="align" id="navbar">

        <div class="nav-brand align">
            <img src="../images/barber_logo.webp" alt="logo">
        </div>

        <div class="nav-content align">
            <ul class="align">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="nav-area align">
            <p>FREE QUOTE</p>
        </div>

    </section>


    <section class="align" id="home">

        <div class="container align align-ver">

            <div class="align-def">
                <img src="../images/scissor.svg" alt="scissor">
            </div>

            <div class="align-def">
                <h1>WE'RE THE LAST OF THE BREED.</h1>
            </div>

            <div class="align-def">
                <p>Archieve your dream style.</p>
            </div>

            <div class="align-def">
                <button>BOOK NOW</button>
            </div>

        </div>

        <div class="container main">
        </div>

    </section>


    <section class="align" id="story">

        <div class="container align align-ver">
            <div class="align-sec">

                <div class="align">
                    <img src="../images/tick.svg" alt="tick">
                </div>

                <div class="align content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae omnis est ea tempora accusantium tenetur.</p>
                </div>

            </div>
            
            <div class="align-sec">

                <div class="align">
                    <img src="../images/tick.svg" alt="tick">
                </div>

                <div class="align content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae omnis est ea tempora accusantium tenetur.</p>
                </div>

            </div>

            <div class="align-sec">

                <div class="align">
                    <img src="../images/tick.svg" alt="tick">
                </div>

                <div class="align content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae omnis est ea tempora accusantium tenetur.</p>
                </div>

            </div>

            <div class="align-sec">

                <div class="align">
                    <img src="../images/tick.svg" alt="tick">
                </div>

                <div class="align content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae omnis est ea tempora accusantium tenetur.</p>
                </div>

            </div>

        </div>

        <div class="container main"></div>

        <div class="container align align-ver">

            <div class="align-def">
                <h1>ABOUT OUR STORY</h1>
            </div>

            <div class="align-def">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste doloremque labore libero animi ad explicabo corrupti voluptatum doloribus perspiciatis veniam.</p>
            </div>

            <div class="align-def">
                <button>BOOK NOW</button>
            </div>

        </div>

    </section>


    <section class="align" id="price">

        <div class="container align main align-ver">

            <div class="align">

                <div>
                    <img src="../images/barber_1.jpg" alt="cut1">
                </div>

                <div>
                    <img src="../images/barber_2.jpg" alt="cut2">
                </div>

                <div>
                    <img src="../images/barber_3.jpg" alt="cut3">
                </div>

            </div>

            <div class="align">

                <div>
                    <img src="../images/barber_4.jpg" alt="cut4">
                </div>

                <div>
                    <img src="../images/barber_5.jpg" alt="cut5">
                </div>

                <div>
                    <img src="../images/barber_6.jpg" alt="cut6">
                </div>

            </div>

        </div>

        <div class="container align align-ver">

            <div class="align-def">
                <h1>OUR TOP PRICES</h1>
            </div>

            <div class="align-def align-ver">

                <div class="align-sec">
                    <div>
                        <p>Special beard treatment</p>
                    </div>

                    <div>
                        <p>From <span>$40</span></p>
                    </div>

                </div>

                <div class="align-sec">

                    <div>
                        <p>Color your beard</p>
                    </div>

                    <div>
                        <p>From <span>$40</span></p>
                    </div>

                </div>

                <div class="align-sec">

                    <div>
                        <p>Wax your beard</p>
                    </div>

                    <div>
                        <p>From <span>$40</span></p>
                    </div>

                </div>

            </div>

        </div>

    </section>


    <section class="align" id="services">

        <div class="container align align-ver">

            <div class="align align-ver">
                <img src="../images/trimmer.svg" alt="trimmer">
            </div>

            <div class="align align-ver">
                <h1>Stylish hair cut</h1>
            </div>

            <div class="align align-ver">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque eligendi recusandae eveniet?</p>
            </div>

        </div>

        <div class="container align align-ver">

            <div class="align align-ver">
                <img src="../images/cut.svg" alt="cut">
            </div>

            <div class="align align-ver">
                <h1>Cut and hairstyle</h1>
            </div>

            <div class="align align-ver">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque eligendi recusandae eveniet?</p>
            </div>

        </div>

        <div class="container align align-ver">

            <div class="align align-ver">
                <img src="../images/razor.svg" alt="razor">
            </div>

            <div class="align align-ver">
                <h1>Color and hair wash</h1>
            </div>

            <div class="align align-ver">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque eligendi recusandae eveniet?</p>
            </div>

        </div>

    </section>


    <footer class="align">
        <p>Copyright &copy; 2022, All rights are reserved</p>
    </footer>

</body>
</html>