<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architecture</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/template_9.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/dcf9f5d1bd.js"></script>
</head>

<body>

    <section class="align-ver" id="home">

        <div class="navbar">

            <div class="nav-brand align">
                <p>ARCHITECTURE</p>
            </div>

            <div class="nav-content align">
                <ul class="align">
                    <li><a href="#" class="link active">Home</a></li>
                    <li><a href="#" class="link">Projects</a></li>
                    <li><a href="#" class="link">Services</a></li>
                    <li><a href="#" class="link">Blogs</a></li>
                    <li><a href="#" class="link">About</a></li>
                    <li><a href="#" class="link">Contact</a></li>
                </ul>
            </div>

        </div>


        <div class="content align align-ver">

            <p>Providing all kinds of construction services</p>
            <h1>Constructing Spaces for You</h1>
        </div>

    </section>


    <section class="align" id="exp">

        <div class="content align align-ver">

            <div class="con-content align align-ver">
                <h1>25</h1>
                <h2>YEARS</h2>
                <h3>EXPERIENCE</h3>
            </div>

        </div>

        <div class="content align align-ver">

            <div class="align align-ver">
                <p>SECRETS OF</p>
                <p>SUCCESS</p>

                <span>
                    <p>OF OUR</p>
                    <p>PROJECTS</p>
                </span>
            </div>

        </div>


        <div class="content align align-ver">

            <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa similique corrupti quae facere, inventore qui cupiditate numquam doloremque error suscipit quaerat veniam sint quisquam exercitationem! Sequi debitis dolor dolorem aperiam sint
                eligendi fugit ratione eum reiciendis cupiditate? Perferendis voluptatem reiciendis officia reprehenderit. Minus delectus quas, saepe eos facilis pariatur similique!</p>

        </div>

    </section>


    <section class="align" id="works">

        <div class="content align align-ver">
            <h1>OUR DONE</h1>
            <h2>PROJECTS</h2>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi sapiente unde rerum quaerat deserunt ipsam quae aliquam minima itaque nisi ex qui sit omnis, sed eveniet mollitia facere sunt velit.</p>

            <a href="#">View all projects</a>
        </div>

        <div class="content imgs align align-ver"></div>

    </section>


    <section class="align" id="profile">

        <div class="content align align-ver">
            <img src="../images/buildings.png" alt="buildings">

            <h1>1539</h1>
            <h2>PROJECTS</h2>
        </div>

        <div class="content align align-ver">
            <img src="../images/employees.png" alt="employees">

            <h1>3653</h1>
            <h2>EMPLOYEES</h2>
        </div>

        <div class="content align align-ver">
            <img src="../images/constructor.png" alt="constructor">

            <h1>5987</h1>
            <h2>CONSTRUCTOR</h2>
        </div>

        <div class="content align align-ver">
            <img src="../images/partners.png" alt="partners">

            <h1>3999</h1>
            <h2>PARTNERS</h2>
        </div>

    </section>

    <section class="align" id="services">

        <div class="content align align-ver">
            <h2>WE OFFER</h2>
            <h1>SERVICES</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum at praesentium modi soluta tempore nobis itaque alias, sunt et quo suscipit fugit obcaecati mollitia, sit nam perferendis quis eum! Reiciendis dolorem nesciunt iusto dicta sint sequi corrupti
                magnam doloremque cupiditate obcaecati quibusdam odio magni voluptas ut, ullam cumque, ipsam unde?
            </p>
        </div>

        <div class="content sp-content align align-ver">

            <div class="container align">

                <div class="con-container align align-ver">
                    <img src="../images/constructor.png" alt="Constructing">
                </div>

                <div class="con-container sp-con-container align align-ver">
                    <h1>General Constructing</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto minima voluptatem quos omnis animi. Hic quibusdam dolore adipisci doloribus eum quae voluptates debitis repudiandae ipsa rerum ea, aperiam blanditiis Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Excepturi, amet?</p>
                </div>

            </div>

            <div class="container align">

                <div class="con-container align align-ver">
                    <img src="../images/buildings.png" alt="Buildings">
                </div>

                <div class="con-container sp-con-container align align-ver">
                    <h1>Design Buildings</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto minima voluptatem quos omnis animi. Hic quibusdam dolore adipisci doloribus eum quae voluptates debitis repudiandae ipsa rerum ea, aperiam blanditiis Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Excepturi, amet?</p>
                </div>

            </div>

            <div class="container align">

                <div class="con-container align align-ver">
                    <img src="../images/modeling.svg" alt="Modeling">
                </div>

                <div class="con-container sp-con-container align align-ver">
                    <h1>Design Modeling</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto minima voluptatem quos omnis animi. Hic quibusdam dolore adipisci doloribus eum quae voluptates debitis repudiandae ipsa rerum ea, aperiam blanditiis Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Excepturi, amet?</p>
                </div>

            </div>

        </div>

    </section>


    <section class="align" id="blogs">

        <div class="content align align-ver">
            <h2>READ</h2>
            <h1>OUR BLOGS</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum at praesentium modi soluta tempore nobis itaque alias, sunt et quo suscipit fugit obcaecati mollitia, sit nam perferendis quis eum! Reiciendis dolorem nesciunt iusto dicta sint sequi corrupti
                magnam doloremque cupiditate obcaecati quibusdam odio magni voluptas ut, ullam cumque, ipsam unde?
            </p>
        </div>

        <div class="content sp-content align align-ver">

            <div class="container align">

                <div class="con-container align align-ver">
                    <img src="../images/constructor.png" alt="Constructing">
                </div>

                <div class="con-container sp-con-container align align-ver">
                    <p>20 Jan 2022</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto minima voluptatem quos omnis animi. Hic quibusdam dolore adipisci doloribus eum quae voluptates debitis repudiandae ipsa rerum ea, aperiam blanditiis Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Excepturi, amet?</p>
                </div>

            </div>

            <div class="container align">

                <div class="con-container align align-ver">
                    <img src="../images/buildings.png" alt="Buildings">
                </div>

                <div class="con-container sp-con-container align align-ver">
                    <p>10 Dec 2021</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto minima voluptatem quos omnis animi. Hic quibusdam dolore adipisci doloribus eum quae voluptates debitis repudiandae ipsa rerum ea, aperiam blanditiis Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Excepturi, amet?</p>
                </div>

            </div>

            <div class="container align">

                <div class="con-container align align-ver">
                    <img src="../images/modeling.svg" alt="Modeling">
                </div>

                <div class="con-container sp-con-container align align-ver">
                    <p>24 Dec 2021</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto minima voluptatem quos omnis animi. Hic quibusdam dolore adipisci doloribus eum quae voluptates debitis repudiandae ipsa rerum ea, aperiam blanditiis Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Excepturi, amet?</p>
                </div>

            </div>

        </div>

    </section>

    <section class="align" id="engineers">

        <div class="content align align-ver sp-align" id="cust1">

            <div class="align align-ver">
                <h1>EVA MILLER</h1>
                <h3>LEAD ENGINEER</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatum.
                </p>
            </div>

        </div>

        <div class="content align align-ver sp-align" id="cust2">

            <div class="align align-ver">
                <h1>JOHN MILLER</h1>
                <h3>ARCHITECT</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatum.
                </p>
            </div>

        </div>

        <div class="content align align-ver">
            <h2>OUR</h2>
            <h1>ENGINEERS</h1>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores animi iusto, nemo modi rem debitis temporibus aliquid velit veritatis cupiditate iure rerum, nihil, libero dignissimos aspernatur necessitatibus natus nobis.
            </p>
        </div>

    </section>


    <section class="align align-ver" id="newsletter">

        <h1>SIGN UP FOR A NEWSLETTER</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, aperiam!</p>

        <div class="align">
            <input type="email" name="email" id="email" placeholder="Enter your email">
            <input type="submit" value="Subscribe" class="btn">
        </div>

    </section>

    <footer class="align align-ver">

        <p>Copyright &copy; 2022 All rights reserved</p>
        <p>This template is made with <img src="../images/love.png" alt="Love"> by Gaurav Sahitya</p>
    </footer>

</body>

</html>