<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Environment</title>


    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/dcf9f5d1bd.js"></script>


</head>
<body>

    <div class="navbar align">

        <div class="brand align">
            <img src="images/food_contact.png" alt="" srcset="">
        </div>

        <div class="nav-content align">

            <ul class="align">
                <li><a href="#" class="link">About</a></li>
                <li><a href="#" class="link">Features</a></li>
                <li><a href="#" class="link">Pricing</a></li>
                <li><a href="#" class="link">Contact</a></li>
                <li><button class="btn" id="button1" type="button">Get App</button></li>
            </ul>

        </div>

    </div>


    <section class="align" id="home">

        <div class="container align align-ver">

            <h2 class="h-secondary light-heading">New app on the block</h2>

            <h1 class="h-primary">Jevlin app will never again let you worry about your plants</h1>

            <button class="btn" id="button2" type="button">Find out more</button>

        </div>

        <div class="container align align-ver m-container">

            <img src="images/env-home.png" alt="" srcset="">

        </div>

    </section>


    <section class="align align-ver" id="features">

        <h2 class="h-secondary light-heading">Features</h2>

        <h1 class="h-primary">Watch our quick introduction video</h1>

        <p class="paras">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur quam eum est atque ducimus aliquam, sed quis aperiam officia unde a porro. Ratione doloribus ut ducimus vitae culpa laborum et soluta labore possimus impedit, dolorem id quod nulla accusantium atque dolor rerum velit molestiae modi facere, vel repellendus voluptas. Explicabo?</p>

    </section>


    <section class="align" id="customers">

        <div class="container align align-ver">
            <img src="images/env-customer.jpg" alt="" srcset="" class="imgs">
            <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga suscipit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit id nihil necessitatibus doloribus eos ullam</p>
        </div>

        <div class="container align align-ver">
            <img src="images/env-customer-2.jpg" alt="" srcset="" class="imgs">
            <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga suscipit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit id nihil necessitatibus doloribus eos ullam</p>
        </div>

        <div class="container align align-ver">
            <img src="images/env-customer-3.jpg" alt="" srcset="" class="imgs">
            <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga suscipit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit id nihil necessitatibus doloribus eos ullam</p>
        </div>

    </section>


    <section class="align" id="plants">

        <div class="container align align-ver m-container">

            <img src="images/env-plant.png" alt="" srcset="">

        </div> 

        <div class="container align align-ver">

            <h2 class="h-secondary light-heading">More than 10K plants</h2>

            <h1 class="h-primary">Endless plant library to choose from</h1>

            <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis necessitatibus ullam voluptate perferendis quas cum, porro vel doloribus natus illo recusandae dolore, minima officiis, libero repellendus optio dicta voluptatibus excepturi.</p>

        </div>


    </section>


    <section class="align" id="planner">

        <div class="container align align-ver">

            <h2 class="h-secondary light-heading">Advanced Planner</h2>

            <h1 class="h-primary">Schedule your plant needs</h1>

            <p class="paras"> Get notified when your plants cycle are starting</p>

            <p class="paras">  Set separate reminders for different seasons</p>


        </div>

        <div class="container align align-ver m-container">

            <img src="images/env-calendar.png" alt="" srcset="">

        </div>

    </section>


    <section class="align" id="reminder">

        <div class="container align align-ver m-container">

            <img src="images/env-reminder.png" alt="" srcset="">

        </div> 

        <div class="container align align-ver">

            <h2 class="h-secondary light-heading">Never forget</h2>

            <h1 class="h-primary">Get notified whenever you need to attend your plants</h1>

            <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis necessitatibus ullam voluptate perferendis quas cum, porro vel doloribus natus illo recusandae dolore, minima officiis, libero repellendus optio dicta voluptatibus excepturi.</p>

        </div>

    </section>


    <section class="align" id="pricing">
       
        <div class="container align align-ver sp-container">

            <h3 class="h-tertiary">Pricing</h3>
            <h1 class="h-primary sp-heading">Choose what suits your needs the best</h1>

        </div>

        <div class="container align align-ver def-container">

            <h2 class="h-secondary light-heading">Basic Plan</h2>
            <h1 class="h-primary">Free</h1>
            <h3 class="h-tertiary light-heading">/monthly</h3>

            <button class="btn" id="button3" type="button">Get started</button>

            <p class="paras">Unlimited plant library</p>
            <p class="paras">Calendar</p>
            <p class="paras">Schedule alerts</p>
            <p class="paras">Up to 10 plants</p>

        </div>

        <div class="container align align-ver def-container">
            <h2 class="h-secondary light-heading">Premium Plan</h2>
            <h1 class="h-primary price-tag">$ 10</h1>
            <h3 class="h-tertiary light-heading">/monthly</h3>

            <button class="btn sp-btn" id="button4" type="button">Get started</button>

            <p class="paras">Unlimited plant library</p>
            <p class="paras">Calendar</p>
            <p class="paras">Schedule alerts</p>
            <p class="paras">Up to 100 plants</p>
            <p class="paras">20 GB Gallery</p>
        </div>

    </section>


    <section class="align align-ver" id="contact">

        <h3 class="h-tertiary">Reach us</h3>
        <h1 class="h-primary sp-heading">Do not hesitate to ask us any questions</h1>


        <button class="btn sp-btn" id="button4" type="button">Contact Us</button>

    </section>


    <section class="align" id="others">

        <div class="container align align-ver">

            <img src="images/food_contact.png" alt="" srcset="">

            <p class="paras">&copy; 2020 <span>Jevlin</span> All Rights Reserved.</p>

            <div class="align icn-container">

                <img src="images/facebook.png" alt="" srcset="" class="ico">
                <img src="images/twitter.png" alt="" srcset="" class="ico">
                <img src="images/instagram.png" alt="" srcset="" class="ico">

            </div>

        </div> 

        <div class="container align align-ver">

            <h3 class="h-tertiary">Services</h3>

            <p class="paras light-heading sp-para">Financing</p>
            <p class="paras light-heading sp-para">Accouting</p>
            <p class="paras light-heading sp-para">Something</p>

        </div> 

        <div class="container align align-ver">

            <h3 class="h-tertiary">About Us</h3>

            <p class="paras light-heading sp-para">Vision</p>
            <p class="paras light-heading sp-para">Team</p>
            <p class="paras light-heading sp-para">Reviews</p>

        </div> 

        <div class="container align align-ver">

            <h3 class="h-tertiary">Contact</h3>

            <p class="paras light-heading sp-para">jevlin@email.com</p>
            <p class="paras light-heading sp-para">+731 442 522</p>
            <p class="paras light-heading sp-para">Mon - Fri 9AM - 5PM</p>

        </div> 

    </section>

</body>
</html>