<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie</title>


    <link rel="stylesheet" href="../css/template_3.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/dcf9f5d1bd.js"></script>


</head>

<body>

    <div class="navbar align align-ver">

        <ul class="align">
            <li><img src="../images/food-logo.png" alt="" srcset="" class="logo"></li>
        </ul>


        <ul class="align">
            <li><a href="#" class="link">HOME</a></li>
            <li><a href="#" class="link">ABOUT</a></li>
            <li><a href="#" class="link">OFFERS</a></li>
            <li><a href="#" class="link">MENU</a></li>\
            <li><a href="#" class="link">CONTACT</a></li>
        </ul>
    </div>

    <section class="align align-ver" id="home">

        <h2 class="h-secondary"><span>CRISPY</span> TENDER</h2>
        <h1 class="h-primary">BURGER</h1>

        <button class="btn btn-lg" id="button1">SEE MORE</button>

    </section>


    <section class="align align-ver" id="about">

        <h2 class="h-secondary">Delivering the best ingredients for our trusty food lovers</h2>
        <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione eos accusantium,
            a aliquam ducimus recusandae enim ad consequuntur aperiam ex sunt facere quia dolorem vitae nesciunt impedit
            quidem? Expedita.</p>
        <p class="paras"><span> Lorem ipsum dolor sit,</span> amet consectetur adipisicing elit. Dignissimos nulla dolor
            doloribus nemo, perferendis ipsam.</p>

    </section>


    <section class="align align-ver" id="offers">
        <h2 class="h-secondary">Special Offers</h2>

        <div class="container align">

            <div class="content align align-ver pri-content">
                <img src="../images/sandwich.jpg" alt="" srcset="">
                <h3 class="h-tertiary">Ham Sandwich</h3>

                <div class="btn-container align">
                    <button class="btn sm-btn" disabled>fat 26g</button>
                    <button class="btn sm-btn" disabled>sugars 34g</button>
                    <button class="btn sm-btn" disabled>carbs 26g</button>
                </div>

                <p class="paras">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere qui quia rem natus
                    asperiores nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel
                    voluptate corrupti nobis omnis in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
                    autem minima quibusdam sapiente? Id, iure sapiente ducimus eligendi deleniti quidem et explicabo
                    dignissimos. Natus officia blanditiis temporibus omnis ipsum debitis!
                </p>

                <div class="btn-container align">
                    <p class="paras price-tag">$14</p>
                    <button class="btn pri-btn" id="button2">Learn More</button>
                </div>
            </div>


            <div class="content align align-ver">

                <div class="sub-content align">

                    <div class="sub-con-content align align-ver">
                        <img src="../images/juicy_burger.jpg" alt="" srcset="">
                        <h4 class="h-tetra">Juicy Beef Burger Meal</h4>
                        <button class="btn sp-btn" id="button3">$16</button>
                        <a href="#" class="bn-link">Add to cart</a>
                    </div>

                    <div class="sub-con-content align align-ver">
                        <img src="../images/choko_milkshake.jpg" alt="" srcset="">
                        <h4 class="h-tetra">Choko Milkshake from heaven</h4>
                        <button class="btn sp-btn" id="button3">$8</button>
                        <a href="#" class="bn-link">Add to cart</a>
                    </div>

                </div>

                <div class="sub-content align">

                    <div class="sub-con-content align align-ver">
                        <img src="../images/blueberry.jpg" alt="" srcset="">
                        <h4 class="h-tetra">Blueberry Wafflers</h4>
                        <button class="btn sp-btn" id="button3">$4</button>
                        <a href="#" class="bn-link">Add to cart</a>
                    </div>


                    <div class="sub-con-content align align-ver">
                        <img src="../images/fries.jpg" alt="" srcset="">
                        <h4 class="h-tetra">Medium portion of fries</h4>
                        <button class="btn sp-btn" id="button3">$3</button>
                        <a href="#" class="bn-link">Add to cart</a>
                    </div>

                </div>

            </div>

        </div>

    </section>


    <section class="align align-ver" id="menu">
        <h2 class="h-secondary">New, amazing sandwich offers every day</h2>
        <p class="paras sp-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum itaque dolorum eos
            distinctio voluptatibus atque nihil temporibus? Quidem mollitia aliquid sit quibusdam, deserunt quam illum,
            ut modi ullam incidunt sunt.</p>

        <button class="btn btn-lg" id="button1">SEE MORE</button>
    </section>


    <section class="align align-ver" id="others">

        <h2 class="h-secondary cm-heading">Trending Burgers</h2>

        <div class="container align xl-container">

            <div class="sub-con-content align align-ver xl-sub-con-content">

                <img src="../images/juicy_burger_2.jpg" alt="" srcset="" class="imgs">

                <h4 class="h-tetra">Juicy Burger</h4>

                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus accusamus nihil
                    cupiditate consequuntur laborum.</p>

                <div class="btn-container align">
                    <button class="btn" id="button2">$8</button>
                    <a href="#" class="bn-link">Add to cart</a>
                </div>

            </div>

            <div class="sub-con-content align align-ver xl-sub-con-content">

                <img src="../images/juicy_burger_2.jpg" alt="" srcset="" class="imgs">

                <h4 class="h-tetra">Juicy Burger</h4>

                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus accusamus nihil
                    cupiditate consequuntur laborum.</p>

                <div class="btn-container align">
                    <button class="btn" id="button2">$8</button>
                    <a href="#" class="bn-link">Add to cart</a>
                </div>

            </div>

            <div class="sub-con-content align align-ver xl-sub-con-content">

                <img src="../images/juicy_burger_2.jpg" alt="" srcset="" class="imgs">

                <h4 class="h-tetra">Juicy Burger</h4>

                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus accusamus nihil
                    cupiditate consequuntur laborum.</p>

                <div class="btn-container align">
                    <button class="btn" id="button2">$8</button>
                    <a href="#" class="bn-link">Add to cart</a>
                </div>

            </div>

            <div class="sub-con-content align align-ver xl-sub-con-content">

                <img src="../images/juicy_burger_2.jpg" alt="" srcset="" class="imgs">

                <h4 class="h-tetra">Juicy Burger</h4>

                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus accusamus nihil
                    cupiditate consequuntur laborum.</p>

                <div class="btn-container align">
                    <button class="btn" id="button2">$8</button>
                    <a href="#" class="bn-link">Add to cart</a>
                </div>

            </div>

        </div>


        <h2 class="h-secondary cm-heading">Desserts</h2>

        <div class="container align xl-container">

            <div class="sub-con-content align align-ver xl-sub-con-content">

                <img src="../images/strawberry.jpg" alt="" srcset="" class="sp-img">

                <h4 class="h-tetra">Strawberry Mix</h4>

                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus accusamus nihil
                    cupiditate consequuntur laborum.</p>

                <div class="btn-container align">
                    <button class="btn" id="button2">$8</button>
                    <a href="#" class="bn-link">Add to cart</a>
                </div>

            </div>

            <div class="sub-con-content align align-ver xl-sub-con-content">

                <img src="../images/chocolate.jpg" alt="" srcset="" class="sp-img">

                <h4 class="h-tetra">Chocolate Mix</h4>

                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus accusamus nihil
                    cupiditate consequuntur laborum.</p>

                <div class="btn-container align">
                    <button class="btn" id="button2">$8</button>
                    <a href="#" class="bn-link">Add to cart</a>
                </div>

            </div>

            <div class="sub-con-content align align-ver xl-sub-con-content">

                <img src="../images/apple_pie.jpg" alt="" srcset="" class="sp-img">

                <h4 class="h-tetra">Apple Pie</h4>

                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus accusamus nihil
                    cupiditate consequuntur laborum.</p>

                <div class="btn-container align">
                    <button class="btn" id="button2">$8</button>
                    <a href="#" class="bn-link">Add to cart</a>
                </div>

            </div>

            <div class="sub-con-content align align-ver xl-sub-con-content">

                <img src="../images/sunday_waffle.jpg" alt="" srcset="" class="sp-img">

                <h4 class="h-tetra">Sunday Waffle</h4>

                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus accusamus nihil
                    cupiditate consequuntur laborum.</p>

                <div class="btn-container align">
                    <button class="btn" id="button2">$8</button>
                    <a href="#" class="bn-link">Add to cart</a>
                </div>

            </div>

        </div>

    </section>

    <section class="align" id="clients">

        <div class="content sp-content">
            <img src="../images/clients.jpg" alt="" srcset="" class="client-imgs">
        </div>

        <div class="content sp-content align align-ver">
            <h2 class="h-secondary cm-heading">What our clients have to say</h2>
            <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsum impedit officiis vitae
                natus officia voluptatem et nisi reprehenderit, enim quis tempora! Cum omnis beatae, odit quidem
                laudantium enim explicabo! Laborum est, vitae ea earum aspernatur voluptate. Error, iure. Obcaecati
                voluptatum a atque facilis quasi sint earum repellat incidunt, accusantium animi accusamus aut assumenda
                non reiciendis, praesentium aliquid iure autem adipisci laudantium libero optio pariatur officia ut.
                Amet, impedit illo odit quas officiis pariatur nulla perspiciatis quasi rerum, esse eaque! Corporis
                magnam iste sunt. Ea eius pariatur impedit illum tempora praesentium magnam voluptatibus fugit
                voluptatum reiciendis, recusandae corrupti assumenda sapiente.</p>
            <p class="paras name-plate">John Doe</p>
        </div>

    </section>


    <section class="align" id="contact">

        <div class="sm-container align align-ver">

            <img src="../images/food_contact.png" alt="" srcset="">
            <p class="paras">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempora exercitationem
                dolor facilis eos praesentium!</p>

            <div class="icn-container align">
                <img src="../images/facebook.png" alt="" srcset="" class="ico">
                <img src="../images/instagram.png" alt="" srcset="" class="ico">
                <img src="../images/twitter.png" alt="" srcset="" class="ico">
            </div>

        </div>


        <div class="sm-container align align-ver">

            <h4 class="h-tetra cm-heading">Contact Us</h4>

            <div class="contact-us">
                <p class="paras">Street Number 1, Florida</p>
                <p class="paras">+569 2698 0256</p>
                <p class="paras">email@companyname.com</p>
                <p class="paras">email@companyname.com</p>
            </div>

        </div>

        <div class="sm-container align align-ver">

            <h4 class="h-tetra cm-heading">Subscribe</h4>

            <div class="contact-us align align-ver">

                <input type="text" class="inps" id="textBox1" placeholder="Enter your email address">

                <button class="btn" id="button2">Subscribe</button>

                <p class="paras">Get the latest updates</p>
                
            </div>

        </div>

    </section>
</body>

</html>