<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelacer Photographer</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/template_11.css">

</head>
<body>
    
    <section class="align" id="navbar">

        <div class="align nav-brand">

            <img src="../images/food-logo.png" alt="Logo">

        </div>

        <div class="align nav-content">

            <ul class="align">

                <li><a href="#">Home</a></li>
                <li class="align align-ver" id="drop">

                    <a href="#">Portfolio</a>

                    <div class="align align-ver" id="menu">

                        <ul class="align align-ver">

                            <li><a href="#">Family</a></li>
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Model</a></li>
                            <li><a href="#">Wedding</a></li>
                            <li><a href="#">Events</a></li>

                        </ul>

                    </div>

                </li>

                <li><img src="../images/facebook.png" alt="facebook"></li>
                <li><img src="../images/instagram.png" alt="instagram"></li>
                <li><img src="../images/twitter.png" alt="twitter"></li>
                <li><img src="../images/search_ico.png" alt="search"></li>
                <li><button type="button">Contact Me</button></li>

            </ul>

        </div>

    </section>

    <section class="align align-ver" id="home">

        <h3 class="h-tertiary">THE POWER OF MOMENT</h3>
        <h1 class="h-primary">FREELANCE PHOTOGRAPHER AT YOUR SERVICE</h1>

    </section>


    <section class="align" id="about">

        <div class="container align align-ver">

            <img src="../images/photographer.jpg" alt="photographer">

        </div>
        
        <div class="container align align-ver">

            <div>
                <h2 class="h-secondary">Hi there, my name is Aaron!</h2>
            </div>

            <div>
                <h3 class="h-tertiary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste alias explicabo at optio sed laboriosam pariatur? At iure eveniet, aliquam voluptatem ea repellat dicta quod, quisquam dolorum fuga sit harum!</h3>
            </div>

            <div>
                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatum, quidem alias minima accusantium ipsam?</p>
            </div>

            <div class="align">

                <div class="align align-ver">

                    <h2 class="h-secondary">20+</h2>
                    <p class="paras">Years in field</p>

                </div>
                
                <div class="align align-ver">

                    <h2 class="h-secondary">35K+</h2>
                    <p class="paras">Photos taken</p>

                </div>

            </div>

        </div>

    </section>


    <section class="align align-ver" id="works">

        <div class="container align">

            <h1 class="h-primary">Check out my latest work</h1>

        </div>
        
        <div class="container align main">

            <div class="con-container align align-ver" id="work1">
                <h1 class="h-primary">Wedding</h1>
            </div>

            <div class="con-container align align-ver" id="work2">
                <h1 class="h-primary">Events</h1>
            </div>

            <div class="con-container align align-ver" id="work3">
                <h1 class="h-primary">Maternity</h1>
            </div>

        </div>

        <button type="button">View all</button>

    </section>


    <section class="align" id="others">

        <div class="container align align-ver">
            <h1 class="h-primary">Let`s get in touch and create beautiful things together</h1>
        </div>

        <div class="container align align-ver main">
            <button type="button">Hire me</button>
        </div>

    </section>


    <footer class="align align-ver">
        <p class="paras">Copyright &copy; 2022</p>
        <p class="paras">Designed with <img src="../images/love.png" alt="love"> by Gaurav Sahitya</p>
    </footer>

</body>
</html>